* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  display: flex;
  background: #222;
}

aside {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #4a4a4a;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.navigation ul .list {
  position: relative;
  list-style: none;
  width: 40%;
  height: 70px;
  padding: 3.5rem 0;
  transition: 500ms ease-in-out;
  z-index: 1;
}
.navigation ul .list .icon {
  width: fit-content;
  transition: 300ms;
}
.navigation ul .list .icon:hover {
  filter: brightness(0.7);
}
.navigation ul .list .active {
  position: absolute;
  translate: 300ms;
}
.navigation ul .list .text {
  transform: rotate(90deg);
  opacity: 0;
  margin-right: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  transition: 1000ms;
}
.navigation .anchor {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  text-decoration: none;
  color: #fff;
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 40%;
  top: calc(18% - 35px + 0rem);
  background: #222;
  border-radius: 50%;
  border: 6px solid #4a4a4a;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active {
  width: 95%;
}
.navigation ul li:nth-child(1).active .text {
  opacity: 1;
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateY(0rem);
}

.navigation ul li:nth-child(2).active {
  width: 95%;
}
.navigation ul li:nth-child(2).active .text {
  opacity: 1;
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateY(7rem);
}

.navigation ul li:nth-child(3).active {
  width: 95%;
}
.navigation ul li:nth-child(3).active .text {
  opacity: 1;
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateY(14rem);
}

.navigation ul li:nth-child(4).active {
  width: 95%;
}
.navigation ul li:nth-child(4).active .text {
  opacity: 1;
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateY(21rem);
}

.navigation ul li:nth-child(5).active {
  width: 95%;
}
.navigation ul li:nth-child(5).active .text {
  opacity: 1;
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateY(28rem);
}

main {
  padding-left: 9.5rem;
  max-height: 100vh;
  overflow: hidden;
}
main .sections {
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}
main #home {
  position: relative;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}
main #home .big {
  position: absolute;
  transform: scale(1000%);
  z-index: -1;
}
main #home .home {
  right: 50%;
  top: 70%;
}
main #home .texto {
  width: 40%;
  height: 350px;
  color: #fff;
}
main #home .texto h1 {
  font-size: 5rem;
  font-weight: 700;
}
main #home .texto p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}
main #home .profile {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
main #home .profilepic {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: solid 10px #4a4a4a;
  overflow: hidden;
}
main #home .profilepic img {
  position: absolute;
  left: -10%;
  top: -25%;
}
main #home .logos a {
  text-decoration: none;
  margin-inline: 1rem;
}
main #home .logos a:hover {
  filter: brightness(0.7);
}
main #works {
  position: relative;
}
main #works .raindrops {
  position: absolute;
  top: 0;
  left: -10%;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
}
main #works .big {
  position: absolute;
  transform: scale(1000%);
  z-index: -1;
}
main #works .works {
  position: absolute;
  right: 20%;
  top: 40%;
}
main #works .container {
  position: relative;
  width: 70%;
  padding: 0 10rem;
}
main #works .container .textcar {
  padding: 5rem;
  max-width: 36rem;
}
main #works .container .textcar h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
main #works .container .textcar p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
main #works .container .textcar img {
  width: 32px;
  margin-top: 1rem;
}
main #works .container .textcar img:hover {
  filter: brightness(0.7);
}

main #games {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-top: solid 1rem #272727;
}
main #games .big {
  position: absolute;
  transform: scale(1000%);
  z-index: -1;
}
main #games .games {
  position: absolute;
  right: 20%;
  top: 70%;
}
main #games .container2 {
  position: relative;
  width: 70%;
  padding: 0 10rem;
}
main #games .container2 .textcar {
  padding: 5rem;
  max-width: 36rem;
}
main #games .container2 .textcar h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
main #games .container2 .textcar p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
main #games .container2 .textcar img {
  width: 32px;
  margin-top: 1rem;
}
main #games .container2 .textcar img:hover {
  filter: brightness(0.7);
}
main #games .slide2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main #games .slide2 img {
  border-radius: 10px;
  width: 300px;
}
main #games .slide2 .snake-img {
  width: 200px;
  max-height: 200px;
}
main #games .slide2 a {
  text-decoration: none;
}
main #games .slide2 .textcar {
  padding-top: 5rem;
  max-width: 36rem;
}
main #games .slide2 .textcar h2, main #games .slide2 .textcar p {
  text-shadow: 15px 15px 5px #181818;
}
main #games .slide2 .textcar h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
main #games .slide2 .textcar p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
main #games .slide2 .textcar img {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  width: 32px;
  margin-top: 1rem;
}
main #games .slide2 .textcar img:hover {
  filter: brightness(0.7);
}
main #games .circle {
  position: absolute;
  width: 1300px;
  height: 1300px;
  border: solid 1rem #4a4a4a;
  border-radius: 50%;
  right: -20%;
  z-index: -1;
}
main #github {
  position: relative;
  display: grid;
  padding-bottom: 16rem;
  place-content: center;
}
main #github .big {
  position: absolute;
  transform: scale(1000%);
  z-index: -1;
}
main #github .github {
  position: absolute;
  left: 10%;
  top: 70%;
}
main .stats {
  padding-block: 1rem;
}
main .stats a {
  text-decoration: none;
}
main .stats img {
  padding: 1rem;
}
main .languages {
  display: flex;
  justify-content: flex-end;
}
main .languages img {
  height: 30px;
  margin: 0.5rem;
}
main #contact {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}
main #contact .getintouch {
  position: absolute;
  left: 70%;
  top: 40%;
}
main #contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #contact form .inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main #contact form .email, main #contact form .nameCustomer {
  padding: 0 1rem;
  width: 38ch;
  height: 2rem;
  background: rgba(255, 255, 255, 0.1294117647);
  color: #fff;
  border: none;
  border-radius: 3px;
}
main #contact form textarea {
  background: rgba(255, 255, 255, 0.1294117647);
  color: #fff;
  padding: 1rem;
  width: 80ch;
  min-height: 20rem;
  border: none;
  border-radius: 3px;
}
main #contact form .submit {
  color: #272727;
  background: #4a4a4a;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
main #contact form .submit:hover {
  filter: brightness(1.3);
  color: #fff;
  transition: 50ms ease-in-out;
}
main #contact form .submit:hover:active {
  box-shadow: inset 2px 2px 10px #181818;
  color: #7a7a7a;
}
main #contact .balao {
  position: relative;
  width: 35vw;
  height: 35vw;
  padding: 3rem;
}
main #contact .balao .big {
  position: absolute;
  transform: scale(1000%);
  z-index: -1;
  left: 50%;
  opacity: 0.6;
}
main #contact .balao h2 {
  position: absolute;
  font-size: 1.3rem;
  text-align: center;
  width: 10rem;
  top: 30%;
  left: 38%;
  color: #4a4a4a;
}

/*# sourceMappingURL=style.css.map */
