/* Error: Nothing may be indented beneath a variable declaration.
 *   ,
 * 6 |     list-style-type: none
 *   |     ^
 *   '
 *   style\slide_works.sass 6:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Nothing may be indented beneath a variable declaration.\a   \2577 \a 6 \2502      list-style-type: none\d\a   \2502      ^\a   \2575 \a   style\\slide_works.sass 6:5  root stylesheet";
}
